<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<footer th:fragment="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <p class="mb-0 text-body-secondary ps-2">&copy; 2026 Library Management System</p>
    <div  class="justify-content-end" th:replace="~{fragments/nav :: nav}"></div>
</footer>
</html>