<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header" class="app-header">
    <a th:href="@{/dashboard}">Library Management</a>
    <div class="app-user-info">
        <span sec:authentication="name">username</span>
        <span class="role-badge" th:text="${#authentication.principal.role}">ROLE</span>
        <form th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit">Logout</button>
        </form>
    </div>
</header>
</body>
</html>