<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/nav :: nav}"></div>
<div>
    <div>
        <div>
            <p><i></i><br/>Status Code: 403</p>
        </div>
        <div>
            <p>Sorry, your access is refused.<br/>Please go back to the previous page to continue browsing.</p>
            <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>