<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<div th:replace="~{fragments/header :: header}"></div>
<main class="app-content">
<div>
    <div>
        <div>
            <p><i></i><br/>Status Code: 403</p>
        </div>
        <div>
            <p>Sorry, your access is refused.<br/>Please go back to the previous page to continue browsing.</p>
            <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>