<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/nav :: nav}"></div>
<main class="app-content">
    <div th:replace="~{fragments/messages :: messages}"></div>
    <div>
        <p>Authors:</p>
        <a th:href="@{/authors/new}">
            <button type="button">Add Author</button>
        </a>
        <ul>
            <li th:each="author : ${authors}">
                <span th:text="${author.firstName}">Book Title</span>
                <a th:href="@{/authors/{id}(id=${author.id})}">
                    <button type="button">View Details</button>
                </a>
                <a th:href="@{/authors/{id}/edit(id=${author.id})}">
                    <button type="button">Edit</button>
                </a>
            </li>

        </ul>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>