<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<div th:replace="~{fragments/header :: header}"></div>
<main class="app-content">
    <div th:replace="~{fragments/messages :: messages}"></div>
    <div>
        <h1 th:text="${authorId} != null ? 'Edit Author' : 'Add Author'">Author Form</h1>

        <form th:with="actionUrl=${authorId != null ? '/authors/' + authorId + '/edit' : '/authors/new'}"
              th:action="@{${actionUrl}}"
              th:object="${author}" method="post">
            <p>
                <label>First Name:</label>
                <input type="text" th:field="*{firstName}" />
                <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </p>
            <p>
                <label>Last Name:</label>
                <input type="text" th:field="*{lastName}" />
                <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </p>
            <p>
                <label>Biography:</label>
                <textarea th:field="*{optionalBiography}"></textarea>
            </p>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
