<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<div th:replace="~{fragments/header :: header}"></div>
<main class="app-content">
    <div th:replace="~{fragments/messages :: messages}"></div>
    <div>
        <h1 th:text="${categoryId} != null ? 'Edit Category' : 'Add Category'">Category Form</h1>

        <form th:action="${categoryId} != null ? @{/categories/{id}/edit(id=${categoryId})} : @{/categories/new}"
              th:object="${category}" method="post">
            <p>
                <label>Name:</label>
                <input type="text" th:field="*{name}" />
            </p>
            <p>
                <label>Description:</label>
                <textarea th:field="*{description}"></textarea>
            </p>
            <p>
                <label>Category Type:</label>
                <select th:field="*{categoryType}">
                    <option th:each="type : ${categoryTypes}" th:value="${type}" th:text="${type}"></option>
                </select>
            </p>
            <p>
                <label>Active:</label>
                <input type="checkbox" th:field="*{status}" />
            </p>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
