<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<div th:replace="~{fragments/header :: header}"></div>
<main class="app-content">
    <div th:replace="~{fragments/messages :: messages}"></div>
    <div>
        <p>Authors: <span th:text="${AuthorCount}">placeholder</span></p>
        <p>Books: <span th:text="${BookCount}">placeholder</span></p>

    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>