<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<div th:replace="~{fragments/header :: header}"></div>

<main class="app-content">

    <div th:replace="~{fragments/messages :: messages}"></div>

    <div class="mb-3" th:if="${isMembersPage}">

        <form th:action="@{/members}" method="get" class="row g-2">

            <div class="col">
                <input type="text"
                       name="searchMembershipNumber"
                       placeholder="Membership Number"
                       class="form-control"
                       th:value="${param.searchMembershipNumber}">
            </div>

            <div class="col">
                <input type="text"
                       name="searchFirstName"
                       placeholder="First Name"
                       class="form-control"
                       th:value="${param.searchFirstName}">
            </div>

            <div class="col">
                <input type="text"
                       name="searchLastName"
                       placeholder="Last Name"
                       class="form-control"
                       th:value="${param.searchLastName}">
            </div>

            <div class="col">
                <input type="text"
                       name="searchEmail"
                       placeholder="Email"
                       class="form-control"
                       th:value="${param.searchEmail}">
            </div>

            <div class="col">
                <input type="text"
                       name="searchPhoneNumber"
                       placeholder="Phone"
                       class="form-control"
                       th:value="${param.searchPhoneNumber}">
            </div>

            <div class="col-auto">
                <button class="btn btn-primary" type="submit">
                    Search
                </button>
            </div>

        </form>

    </div>
    <div>

        <a th:href="@{/users/new}" sec:authorize="hasRole('ADMINISTRATOR')">
            <button type="button" class="btn btn-secondary">Add User</button>
        </a>

        <h3>Users</h3>

        <ul>
            <li th:each="user : ${users.content}" class="m-2">

                <span>
                    <strong th:text="${user.username}">Username</strong>
                    (<span th:text="${user.firstName + ' ' + user.lastName}">Full Name</span>)
                </span>

                <a th:href="@{/users/{id}(id=${user.id})}" class="text-decoration-none">
                    <button type="button" class="btn btn-outline-info">
                        View Details
                    </button>
                </a>

                <a th:href="@{/users/edit/{id}(id=${user.id})}"
                   class="text-decoration-none"
                   sec:authorize="hasRole('ADMINISTRATOR')">
                    <button type="button" class="btn btn-outline-info">
                        Edit
                    </button>
                </a>

                <form th:action="@{/members/deactivate/{id}(id=${user.id})}"
                      method="post"
                      sec:authorize="hasRole('ADMINISTRATOR')"
                      class="d-inline-block">
                    <button type="submit" class="btn btn-outline-info">
                        Deactivate
                    </button>
                </form>

                <form th:action="@{/members/suspend/{id}(id=${user.id})}"
                      method="post"
                      sec:authorize="hasRole('ADMINISTRATOR')"
                      class="d-inline-block">
                    <button type="submit" class="btn btn-outline-info">
                        Suspend
                    </button>
                </form>

                <form th:action="@{/members/reactivate/{id}(id=${user.id})}"
                      method="post"
                      sec:authorize="hasRole('ADMINISTRATOR')"
                      class="d-inline-block">
                    <button type="submit" class="btn btn-outline-info">
                        Reactivate
                    </button>
                </form>

            </li>
        </ul>

    </div>
    <nav class="mt-3">
        <ul class="pagination">
            <li class="page-item" th:classappend="${!users.hasPrevious()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/members(
                    page=${users.number - 1},
                    size=${users.size},
                    searchMembershipNumber=${param.searchMembershipNumber},
                    searchFirstName=${param.searchFirstName},
                    searchLastName=${param.searchLastName},
                    searchEmail=${param.searchEmail},
                    searchPhoneNumber=${param.searchPhoneNumber})}">
                    &laquo;
                </a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}"
                th:classappend="${i == users.number} ? 'active'">

                <a class="page-link"
                   th:href="@{/members(
                    page=${i},
                    size=${users.size},
                    searchMembershipNumber=${param.searchMembershipNumber},
                    searchFirstName=${param.searchFirstName},
                    searchLastName=${param.searchLastName},
                    searchEmail=${param.searchEmail},
                    searchPhoneNumber=${param.searchPhoneNumber})}"
                   th:text="${i + 1}">
                </a>

            </li>
            <li class="page-item" th:classappend="${!users.hasNext()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/members(
                    page=${users.number + 1},
                    size=${users.size},
                    searchMembershipNumber=${param.searchMembershipNumber},
                    searchFirstName=${param.searchFirstName},
                    searchLastName=${param.searchLastName},
                    searchEmail=${param.searchEmail},
                    searchPhoneNumber=${param.searchPhoneNumber})}">
                    &raquo;
                </a>
            </li>

        </ul>
    </nav>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>