<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<div th:replace="~{fragments/header :: header}"></div>

<main class="app-content">

    <div th:replace="~{fragments/messages :: messages}"></div>

    <div>

        <a th:href="@{/users/new}" sec:authorize="hasRole('ADMINISTRATOR')">
            <button type="button" class="btn btn-secondary">Add User</button>
        </a>

        <h3>Users</h3>

        <ul>
            <li th:each="user : ${users}" class="m-2">

                <span>
                    <strong th:text="${user.username}">Username</strong>
                    (<span th:text="${user.firstName + ' ' + user.lastName}">Full Name</span>)
                </span>

                <a th:href="@{/users/{id}(id=${user.id})}" class="text-decoration-none">
                    <button type="button" class="btn btn-outline-info">
                        View Details
                    </button>
                </a>

                <a th:href="@{/users/edit/{id}(id=${user.id})}"
                   class="text-decoration-none"
                   sec:authorize="hasRole('ADMINISTRATOR')">
                    <button type="button" class="btn btn-outline-info">
                        Edit
                    </button>
                </a>

                <form th:action="@{/members/suspend/{id}(id=${user.id})}"
                      method="post"
                      sec:authorize="hasRole('ADMINISTRATOR')">
                    <button type="submit" class="btn btn-outline-info">
                        Deactivate
                    </button>
                </form>

            </li>
        </ul>

    </div>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>